p {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bottom-border{
  width: fit-content;
  border-bottom: 3px solid #0d6efd;
}